body {
  margin: 0;
}

html {
  font-size: 1.25em;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  color: #1d1d1d;
  margin-bottom: 2em;
  font-family: sans-serif;
}

img {
  max-width: 95%;
}

.hero {
  background-image: url("/neurons.png");
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: end;

  h1 {
    margin: 0;
    color: white;
    padding: 3rem 0.5rem;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 0)
    );
  }
}
