<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eva Kreysing</title>
    <link rel="stylesheet" href="/styles.css" />
    <meta name="description" content="Eva Kreysing | Personal Page" />

    <meta property="og:title" content="Eva Kreysing" />
    <meta property="og:url" content="https://kreys.ing" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <div class="hero">
      <h1>Eva Kreysing</h1>
    </div>

    <main>
      <h2>Key Publications</h2>

      <h3>
        Substrate stiffness regulates neuronal maturation via Piezo1-mediated
        TTR activity
      </h3>
      <p>
        E. Kreysing, H. Gautier, R. Humphrey, K. Mooslehner, D. Haarhoff, S.
        Mukherjee, E. Pillai, L. Muresan, A. Winkel, A. Dimitracopoulos, R. T.
        Káradóttir, and K. Franze
      </p>
      <img src="/substrate-stiffness-P1-title-image.svg" alt="" />
      <p>
        During brain development, neurons extend axons to connect to their
        target cells while initiating a maturation process, during which neurons
        start expressing voltage-gated ion channels, form synapses, express
        synaptic transmitters and receptors, and start communicating via action
        potentials. Little is known about external factors regulating this
        process. Here, we identified environmental mechanics as an important
        regulator of neuronal maturation, and a molecular pathway linking tissue
        stiffness to this process. Using patch clamp electrophysiology, calcium
        imaging and immunofluorescence, we found that neurons cultured on
        stiffer substrates showed a delay in voltage-gated ion channel activity,
        spontaneous and evoked action potentials, and synapse formation. RNA
        sequencing and CRISPR/Cas9 knockdown strategies revealed that the
        mechanosensitive ion channel Piezo1 supresses transthyretin (TTR)
        expression on stiffer substrates, slowing down synaptic receptor
        expression and consequently electrical maturation. Stiffening of brain
        tissue in Xenopus laevis embryos also resulted in a significant delay of
        synaptic activity in vivo. Our data indicate that environmental
        stiffness represents a fundamental regulator of neuronal maturation,
        which is important for the development of normal circuitry in the brain,
        and potentially for neurodevelopmental disorders.
      </p>
      <a href="https://doi.org/10.1101/2024.07.25.605128">BioRxiv, 07/2024</a>
    </main>
  </body>
</html>
