<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eva Kreysing Lab</title>
    <link rel="stylesheet" href="/styles.css" />
    <meta name="description" content="Eva Kreysing | Personal Page" />

    <meta property="og:title" content="Eva Kreysing Lab" />
    <meta property="og:url" content="https://kreys.ing" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <div class="hero">
      <h1>Eva Kreysing Lab</h1>
    </div>
    <main>
      <section>
        <p>
          Brain stiffness changes across space and time, generally increasing
          during development. Interestingly, neurons mature faster in softer
          regions, while stiffer areas delay synapse formation. But how do
          neurons actually sense stiffness and adjust their development? This
          remains an open question.
        </p>
        <p>
          In my research, we constantly develop new techniques and approaches to
          explore how neurons “feel” their surroundings. We investigate how the
          membrane and cytoskeleton interact with and respond to mechanical cues
          using methods such as surface plasmon resonance microscopy,
          fluorescence imaging, and membrane tension measurements. By combining
          these with CRISPR-Cas9 knockdowns in cultured neurons, we aim to
          uncover how mechanosensing regulates the electrical maturation of
          neurons.
        </p>
        <img
          src="/kreysing_science.png"
          alt="Three illustrations below the sentence: 'We develop new tools to study how processes at the cell interface regulate neuronal development.' First illustration shows a surface plasmon resonance microscope, second the cell membrane an internal structures interacting with the surrounding, third shows two neurons and an action potential."
        />
      </section>

      <section>
        <h2>Selected Publications</h2>

        <ul>
          <li>
            <h3>
              Environmental stiffness regulates neuronal maturation via
              Piezo1-mediated TTR activity
            </h3>
            <p>
              Kreysing, E., Gautier, H., Mukherjee, S., Mooslehner, K. A.,
              Muresan, L., Haarhoff, D., Zhao, X., Winkel, A. K., Borić, T.,
              Vásquez-Sepúlveda, S., Gampl, N., Dimitracopoulos, A., Pillai, E.
              K., Humphrey, R., Káradóttir, R. T., Franze, K.
              <i>bioRxiv 2024</i>
            </p>
            <a href="https://doi.org/10.1101/2024.07.25.605128"
              >https://doi.org/10.1101/2024.07.25.605128</a
            >
          </li>

          <li>
            <h3>
              Effective cell membrane tension is independent of polyacrylamide
              substrate stiffness
            </h3>
            <p>
              Kreysing, E., Hugh, J.M., Foster, S.K., Andresen, K., Greenhalgh,
              R.D., Pillai, E.K., Dimitracopoulos, A., Keyser, U.F. and Franze,
              K. <i>PNAS nexus 2023</i>
            </p>
            <a href="https://doi.org/10.1093/pnasnexus/pgac299">
              https://doi.org/10.1093/pnasnexus/pgac299</a
            >
          </li>
          <li>
            <h3>
              Nanometer-resolved mapping of cell–substrate distances of
              contracting cardiomyocytes using surface plasmon resonance
              microscopy.
            </h3>
            <p>
              Kreysing, E., Hassani, H., Hampe, N. and Offenhäusser, A.
              <i>ACS nano 2018</i>
            </p>
            <a href="https://doi.org/10.1021/acsnano.8b01396"
              >https://doi.org/10.1021/acsnano.8b01396</a
            >
          </li>
          <li>
            <h3>
              Noninvasive measurement of the refractive index of cell organelles
              using surface plasmon resonance microscopy
            </h3>
            <p>Hassani, H. and Kreysing, E. <i>Optics letters 2019</i></p>
            <a href="https://doi.org/10.1364/OL.44.001359"
              >https://doi.org/10.1364/OL.44.001359</a
            >
          </li>
          <li>
            <h3>
              Correlating surface plasmon resonance microscopy of living and
              fixated cells with electron microscopy allows for investigation of
              potential preparation artifacts
            </h3>
            <p>
              Kreysing, E., Seyock, S., Hassani, H., Brauweiler‐Reuters, E.,
              Neumann, E. and Offenhäusser, A.
              <i>Advanced materials interfaces 2020</i>
            </p>
            <a
              href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/admi.201901991"
              >https:doi.org/10.1002/admi.201901991</a
            >
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
